@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary: #F2E52E;
  --black: #0D0D0D;
  --blackLighter: #8C8C8C;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5; 
  --white: #FFFFFF;
  --frontEnd: #D9D15F;
  --backEnd: #00C86F;
} 

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
} 

#root {
  min-height: calc(100vh - var(--bodyPaddingTop));
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  border-radius: 15px;
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--black);
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: var(--primary);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--frontEnd);
}